doctype html
html
  head
    meta(charset='utf-8')
    title Grade Manager
    link(rel='stylesheet', href='/css/styles.css')
  body
    h1 The Grade Manager App
    nav
      #home: a(href="/") Home
      #about: a(href="/about") About
      #contact: a(href="/contact") Contact
      #faq: a(href="/faq") FAQ
      #student: a(href="/students/new") New Student
      #students: a(href="/students") List All Students

  block content
